.container {
    background-image: url(../images/header.png);

}
header {
        margin: 0;
        padding: 0;
}
header h1 {
    font-family: "Oswald";
    color: white;
    text-align: center;
    font-size: 4em;
    /*text-transform: uppercase;*/
    margin-bottom: 1em;
    font-weight: 400;
}
nav {
    font-family: "Abel";
    font-size: 1.5em;
}
header ul {
    background: linear-gradient(to bottom, #76cbfa 0%,#60abf8 44%,#4a91d2 100%);
    display: flex;
    flex-direction: column;
    border: 1px solid #8ed4f8;
}
header ul li {
    list-style: none;
    /*text-transform: uppercase;*/
    margin: 0.5em 0;
}
header ul li a{
    color: white;
}
header img {
    border: 5px solid white;
    margin: 1em 0;
}
.row{
    background-image: url(../images/fond.png);
}
#first section {
    margin: 0.6em;
    display: flex;
    flex-direction: column;
}
section p {
    font-family: "Arial";
    font-size: 1em;
}
#first p:first-of-type{
    font-weight: bold;
}
#first a {
    text-align: center;
    background-color: #ff3d00;
    color: white;
    border: none;
    align-self: center;
}
#second article {
    background-image: url(../images/fond-article.png);
    padding: 1em;
}
#second article img {
    width: 25%;
    float: left;
    margin: 0em 1em;

}
#second article h4 {
    margin-left: 1em;
}
#second article p {
    margin-left: 1em;
}
main article {
    display: flex;
    flex-direction: column;
}
main h2 {
    /*text-transform: uppercase;*/
    font-size: 2.5em;
    text-align: center;
    font-family: "Oswald";
}
main h3 {
    /*text-transform: uppercase;*/
    text-align: center;
    font-family: "Oswald";
    color:#ff0000;
}
main p {
    font-family: "Arial"
}
main a {
    color: #ff0000;
    text-decoration: underline;
}
main a:last-of-type {
    background-color: #ff3d00;
    color: white;
    border: none;
    text-decoration: none;
}
aside h2 {
    font-family: "Oswald";
}
#sidebar1 section:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
}
aside section {
    padding: 1.5em 0;
}
aside label {
    background: linear-gradient(to bottom, #ff3d00 0%,#ff0000 100%);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    align-self: center;
    /*text-transform: uppercase;*/
    font-family: "Oswald";
}
aside p {
    margin-top: 1em;
}
#sidebar2 section{
    padding: 0;
}
#sidebar2 ul{
    padding-left: 0;

}
#sidebar2 li:not(:last-child) {
    border-bottom: 1px solid #e6e6e6;
}
#sidebar2 li {
    list-style: none;
    padding: 1em 0;
    margin: 0;
}
#sidebar2 a {
    color: #333;
    margin-left: 1em;
}
#foncee {
    background-image: url(../images/footer.png);
}
article h2 {
    font-size: 3em;
    /*text-transform: uppercase;*/
    font-family: "Oswald";
}
.citation {
    /*font-style: italic;*/
    background-image: url(../images/citation.jpg);
    border-radius: 1em;
    padding: 1em;
}
.photos img {
    margin: 0.4em;
}
.photos a {
    text-align: center;
    background-color: #ff3d00;
    color: white;
    border: none;
    margin: 0.5em;
}
#footer {
    background-image: url(../images/bas-de-page.png);
    padding: 0.5em;
}
footer a {
    text-decoration: underline;
    color: #232323;
}
@media (min-width: @screen-sm-min) {
    header {
        margin: 3em 3em 4em 3em;
    }
    nav {
        font-family: "Abel";
        font-size: 1.5em;
    }
    header ul {
        justify-content: center;
    }
    ul li {
        margin: 1em;
    }
    header img {
        border: 25px solid white;
    }

    #first section {
        margin: 1em;
    }
    section h3 {
        font-size: 1.5em;
    }
    section+p {
        font-weight: bold;
    }
}
@media (min-width: @screen-md-min) {
}
